---

import { buttonVariants } from "@/components/ui/button";
import Welcome from "@/components/Welcome.astro";
import Layout from "@/layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <h1 class="text-7xl font-bold">Hello world!</h1>
  <Welcome />
  <div class="flex gap-4">
    <a
      href="https://ui.shadcn.com"
      target="_blank"
      rel="noreferrer"
      class={buttonVariants()}
    >
      Documentation
    </a>
    <a
      href="https://github.com/MegaBytee/astro-tailwind-shadcn-starter"
      target="_blank"
      rel="noreferrer"
      class={buttonVariants({ variant: "outline" })}
    >
      GitHub
    </a>
  </div>

  <a href="https://github.com/MegaBytee/" target="_blank" >@Megabytee</a>
  
  
</Layout>
